*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
.navbar-light{
    background-color: #869EDD!important;
}
.navbar-brand{
    font-family: cursive !important;
    font-size: 200% !important; 
}
.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 1.50rem !important;
    color: rgb(255, 255, 255) !important;
}

.footer_light{
    background-color: #C2E6FF !important;
}
.pb-4{
    position: fixed;
    top: 78%;
    width: 100%;
}

.banner{
    width: 100%;
}
.banner_img{
    width: 100%;
    height: 350px;
}
.container_present{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_main{
    width: 325px; 
    height: 170px;
}


.calendar{
    padding-top: 3%;
}
.week{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
  }
  .dates{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-top: 2%;
  }

.btnDay{
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    border: 0.5px solid rgb(155, 153, 153);
}
.btnDisabled{
    width: 100%;
    opacity: 45%;
    height: 50px;
}
.not-allowed{
    cursor: not-allowed !important;
}
.btnDay:hover{
    background-color: #869EDD;
}
h1{
    text-align: center;
}





.div-button{
    display: flex;
}

#turnoOcupado{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
}

#turnoDisponible{
    height: 20px;
    width: 20px;
    background: green;
    border-radius: 50%;
}

.dsplNone{
    display: none;
}
.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalHorarios{
    position: absolute;
    background: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 90px;
    top: 0;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
}
.modalHorarios h3{
    text-align: center;
    padding: 15px;
}
.btnSalir{
    display: flex;
    justify-content: center;
}
.btnSalir button{
    background-color: #869EDD;
    border-radius: 5px;
    width: 90px;
}

.opacity{
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: black;
    opacity: 40%;
}

.btnHorario{
    width: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.356);
}
.btnHorario:hover{
    background-color: rgb(174, 243, 174);
}

#divTablaMedicos {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    display: table;
}

.filaMedico {
    cursor: pointer;
}

.formBusqueda{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.boton{
    width: 5%;
    margin:0.5%
}
.href{
    text-decoration: none;
    color: black;
}



